.mainContainer {
  background-color: var(--cor-branco-claro);
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 2rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 0.5rem;
}
.paragrafo {
  display: inline-block;
  border-bottom: 0.4rem solid var(--cor-cinza-escuro);
  margin: 1rem 5rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
