@use "../../../style/abstract/variaveis";
@use "../../../style/abstract/mixins";
@use "../../../style/abstract/media-queries" as mediaQuerry;

.section__container {
  width: 100%;
  position: relative;
  overflow: hidden;
  

  &__paragrafo {
    font-size: 0.8rem;
    color: variaveis.$cor-branco-medio;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-left: 0.5rem;
    margin-top: 1rem;
  }

  &__filmes {
    display: flex;
    transition: transform 0.5s ease; // Animação suave ao arrastar
    gap: 0.5rem; // Espaço entre as imagens
    width: auto;

    > * {
      flex: 0 0 auto;
      width: calc(
        100% / auto
      ); // Ajuste esse valor conforme o número de filmes visíveis
    }

    > *:first-child {
      margin-left: 10px; // Remove qualquer margem à esquerda
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.seta-esquerda,
.seta-direita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 15;

  &.seta-esquerda {
    left: 0;
    border: 1px solid red;
  }

  &.seta-direita {
    right: 0;
  }
}
