@use '../../style/abstract/variaveis';
@use '../../style/abstract/mixins';
@use '../../style/abstract/media-queries' as mediaQuerry;

.navegacao {
  background-color: variaveis.$navegacao-menu;
  height: 80px;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1rem;

  // Menu hamburguer
  position: relative;

  .menuIcon {
    font-size: 30px;
    display: none; /* Ocultar por padrão */
    cursor: pointer;
    background-color: aqua;
  }

  .menuAberto {
    display: flex; /* Mostrar quando o menu estiver aberto */
  }

  .navegacao_menu {
    @include mixins.centralizar();
    display: none; /* Ocultar por padrão */
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    background-color: blue;

    .navegacao_link {
      text-decoration: none;
      color: #ecf0f1;
      font-size: 1.5rem;
      font-weight: 900;
      position: relative;
    }

    .navegacao_link::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ecf0f1;
      bottom: -4px;
      left: 0;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    .navegacao_link:hover::after {
      transform: scaleX(1);
    }
  }
}

// MEDIA QUERIES
@media (max-width: 767px) {
  .menuIcon {
    display: block; /* Mostrar ícone hambúrguer em telas pequenas */
  }

  .navegacao_menu {
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
    background-color: yellow;
  }

  .navegacao_lista {
    margin: 0;
  }

  .navegacao_link {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
  }

  .navegacao_link:hover {
    background-color: #575757;
  }
}

