@use "../../style/abstract/variaveis";
@use "../../style/abstract/mixins";
@use "../../style/abstract/media-queries" as mediaQuerry;

.botao__burguer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: transparent;
  border: none;
  cursor: pointer;
  fill: white;
  padding: 0;
  z-index: 9999;

  &--ativo {
    display: block;
    fill: variaveis.$cor-azul-escuro;
  }

  @media #{mediaQuerry.$desktop-full} {
    display: none;
  }
}


