@use "../../style/abstract/media-queries" as mediaQuerry;
@use "../../style/abstract/variaveis";
@use "../../style/abstract/mixins";

.header {
  @include mixins.centralizar();
  flex-direction: column;
  padding: 0.25rem;
  position: relative;

  @media #{mediaQuerry.$desktop-full} {
    display: flex;
    flex-direction: row;
  }

  
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @apply px-4;
    @apply py-2;
    flex-direction: row;
    align-items: center;

    &__logo {
      width: 100px;
      border: 1px solid;

      @media #{mediaQuerry.$desktop-large} {
        width: 200px;
      }
      
    }

  }

  &__menu {
    display: flex;
    width: 100%;
  }

  @media #{mediaQuerry.$desktop-low}, #{mediaQuerry.$desktop-large} {
    display: flex;
    flex-direction: row;
    order: -1;
  }

}

