@use "../../style/abstract/variaveis";
@use "../../style/abstract/mixins";
@use "../../style/abstract/media-queries" as mediaQuerry;

.header {
  @include mixins.centralizar();
  flex-direction: column;
  padding: 0.25rem;
  position: relative;
  
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @apply px-4;
    @apply py-2;
    flex-direction: row;
    align-items: center;

    &__logo {
      @apply w-36;

      @media (min-width: 760px) {
        @apply w-56;
      }

      @media (min-width: 1024px) {
        @apply w-72;
      }
    }
    
    @media (min-width: 1024px) {
      @apply flex;
      @apply items-center;
      @apply justify-center;
    }

  }

  &__navegacao {
    display: flex;
    gap: 2rem;

    &__menu_Hamburguer {
      display: none;
    }
  }

  &__menu {
    display: flex;
    width: 100%;
  }

  

  .menuAberto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  // @media #{mediaQuerry.$desktop-full} {
  //   @include mixins.centralizar();
  //   flex-direction: column;
  // }
}

// .header {
//   @include mixins.centralizar();
//   width: 300px;
//   margin: 0.5rem auto;

//   &__menu {

//   }

//   &__logo {
//     display: none;
//     width: 100%;
//     height: auto;
//     border-radius: 20rem;
//   }
// }

// //media querry

// @media #{mediaQuerry.$desktop-full} {
//   .header {
//     &__logo {
//       display: flex;
//       width: 500px;
//     }
//   }
// }

// .header {
//   @include mixins.centralizar();
//   width: 300px;
//   margin: 0.5rem auto;

//   &__menu {

//   }

//   &__logo {
//     display: none;
//     width: 100%;
//     height: auto;
//     border-radius: 20rem;
//   }
// }

// //media querry

// @media #{mediaQuerry.$desktop-full} {
//   .header {
//     &__logo {
//       display: flex;
//       width: 500px;
//     }
//   }
// }
