@use '../../style/abstract/variaveis';
@use '../../style/abstract/mixins';
@use '../../style/abstract/media-queries' as mediaQuerry;

.header {
  @include mixins.centralizar();
  width: 300px;
  margin: 0.5rem auto;  
  img {
    width: 100%;
    height: auto;
    border-radius: 20rem;
  }
}

//media querry



@media #{mediaQuerry.$desktop-full} {
  .header {
    width: 500px;
  }
}





