@use "../../style/abstract/media-queries" as mediaQuerry;
@use "../../style/abstract/variaveis";
@use "../../style/abstract/mixins";



.img {
  min-width: 100px;
  height: 140px;
  border: 0.3rem solid variaveis.$cor-azul-escuro;
  border-radius: 0.8rem;
  display: flex;
  flex-shrink: 0;
}
a .img:hover {
  border-width: 0.2rem;
  transition: 0.1s;
}
