.alinhamento {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  background-color: #232323;
  height: 3rem;
  border-radius: 1rem;
  width: fit-content;
  padding: 2rem;
  margin: 1rem;
}
.listaStyle {
  gap: 3rem;
  list-style: none;
}

nav ul li {
  text-decoration: none;
  color: blue;
}
